
.back1{
    margin: auto;
    width: 1120px;
    height: 630px;
    overflow: hidden;
   position: absolute;left: 1120px;
    transition: 0.5s;
}

.bg{
    overflow: hidden;
    position: absolute;
    width: 1120px;
    height: 630px;
    background: url("photo/bgcyx.jpg") no-repeat;
    background-size: 1120px 630px;
    filter: blur(1px);
    z-index: -2;
    transition: 0.8s;
}

.bg::before{
    content: "";
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  /*  background: red;*/
    background:rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.left1{
    background-color: rgba(88, 95, 89, 0.49);
    width: 40%;
    height: 100%;
    float: left;
}

#go-back{
    position: absolute;
    width: 70px;
    height: 70px;
    background: url("photo/返回.svg") no-repeat;
    background-size: 50px 50px;
    background-position: 10px 10px;
    transition: 0.5s;
}
.word-top{
    margin: auto;
    width: 60%;
    height: 12%;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    text-align: center;
    line-height: 70px;
    font-size: 150%;
}
.word1{
    display: block;
}
.word1 li{
    font-size: 90%;
}
.word-else{
    display: none;
}
.word-else li{
    font-size: 90%;
}



ul,li{ padding:0;margin:0;list-style:none}

.left1 ul{
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.left1 ul li{
    cursor:pointer;
    margin-bottom:15px;
    color:rgba(255,255,255,0.85);
}

.left1 ul li:hover{
    color:rgba(255,255,255,1);
}

.text:hover{
    color:rgba(255,255,255,1);
}

.right1{
    background-color: rgba(188, 191, 181, 0.37);
    float: left;
    width: 60%;
    height: 100%;
}
.top{
    height: 80%;
    width: 100%;
}
.top .top-top{
    background-color: rgba(76, 68, 66, 0.66);
    width: 100%;
    height: 20%;
    text-align: center;
}
.top .top-top div{

    width: 100%;
    height: 50%;
    color: white;
    text-align: center;
}
@keyframes zj{
    from{transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
#pic{
    position: absolute;top: 20%;right: 16%;
    background: url("photo/CDs.png")no-repeat;
    background-position: center;
    background-size: 101% 101%;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    animation :zj 15s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-play-state:paused;
}
.top .CD{
    position: relative;top:18.8%;left: 18.8%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("photo/陈奕迅.gif") no-repeat;
    background-size: 250px 250px;
    background-position: center;
    transition: 1s;
}
.bottom{
    background-color: rgba(128, 128, 128, 0.48);
    width: 60%;
    height: 15%;
    position: absolute;bottom: 4%;right: 0%;
}

.bottom-control
{
    position: relative;left:120px;
    margin: 0 15px;
    float: left;
    width: 100px;
    height: 100px;
}
#bottom-play{
    background: url("photo/播放.svg") no-repeat;
    background-position: center;
    background-size: 70px 70px;
}
#bottom-next{
    background: url("photo/下一首.svg") no-repeat;
    background-position: center;
    background-size: 60px 60px;
}

#bottom-last{

    background: url("photo/上一首.svg") no-repeat;
    background-position: center;
    background-size: 60px 60px;
}

#bottom-stop{
    background: url("photo/停止.svg") no-repeat;
    background-position: center;
    background-size: 60px 60px;
}